*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;

}
.main{
    max-height: 100%;
    max-width: 100%;
}
nav{
    height: auto; 
    display: flex;
    padding: 2rem 3rem 0.5rem 3rem;
    width: 100%;
}
.nav-left{
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
}
.nav-left img{
    height: 5vw;
    width: auto;
}
.nav-left h1 .rotated{
    font-size: 6vw;
    font-family: "Inika";
    font-weight: 500;
    color: #56545A;
    position: absolute;
    transform: rotate(25deg);
    top: -25%;
    left: 13%;
    animation: J 1s;
}
@keyframes J{
    from{
        transform: rotate(25deg);
    }
    to{
        transform: rotate(385deg);
    }
}
.nav-left h1{
    font-size: 1.5vw;
    font-family: "Inika";
    font-weight: 100;
    color: #56545A;
    padding-left: 3rem;
}
.nav-right{
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: flex-end;
    padding-right: 1rem;
}
.nav-right a{
    font-size: 1.1rem;
    font-weight: 300;
    text-decoration: none;
    padding: 0.4rem;
    color: #56545A;
}
.nav-right .active{
    font-weight: 500;
    color: black;
}
.nav-right i{
    font-size: 1.1rem;
    background: #56545A;
    padding: 13px;
    border-radius: 50px;
    color: #ffffff;
}
.content{
    max-height: 100%;
    max-width: 100%;
}
.center h1{
    font-size: 6vw;
    padding-left: 3vw;
    font-weight: 400;
    line-height: 1;
}
.center-in{
    display: flex;
    padding: 1vw 3vw;
    justify-content: space-between;
}
.center-in p{
    font-size: 1.25vw;
    color: #56545A;
    padding-top: 2vw;
}
.center-right{
    font-size: 1.2vw;
    width: 20vw;
}
.center-right a{
    font-size: 1.2vw;
    text-align: left;
    text-decoration: none;
    color: #56545A;
}
.center-right .elem:hover{
    background-color: #56545a31;
}
.center-right i{
    font-size: 1.4vw;
    text-align: right;
    text-decoration: none;
    color: #56545A;
}
.center-right .elem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7vw;
    border-top: 2px solid #56545A;
}
.bottom{
    height: 27.5vh;
    width: 100%;
    background: url(https://github.com/DikshantJangra/Jacketo/blob/main/imgs/index_product.png?raw=true);
    background-repeat: no-repeat;
    background-color: #67656A;
    position: relative;
}
.bottom h1{
    align-items: flex-end;
    padding-left: 107%;
    padding-top: 12.5%;
    color: whitesmoke;
    font-size: 35px;
}
.bottom h1 .rotated {
    font-size: 10vw;
    font-weight: 100;
    font-family: "Inika";
    /* color: #56545A; */
    color: whitesmoke;
    position: absolute;
    top: -11%;
    left: 100%;
    transform: rotate(25deg);
}



#about{
    width: 100%;
    padding:60px;
}
#about p{
    color: #56545A;
}

#news{
    height: 100vh;
    width: 100%;
    /* background: blue; */
    padding-top: 40px;
}
#news-container{
    height: 100%;
    width: 100%;
    /* background: red; */
    display: flex;
}
#news-line1{
    width: 40%;
    border-top: 2px solid #56545A;
}
#news-line2{
    margin: 40px 0px 40px 0px;
    width: 590px;
    border-top: 2px solid #56545A;
}
#news-line1 h1{
    font-size: 50px;
    padding:15px 0px 0px 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
#news-left{
    padding:50px 0px 50px 50px;
}
#news-right{
    padding:50px 0px 50px 50px ;
}
#news-block-type1{
    margin-bottom: 30px;
    background-color: #e2dede;
    height: 200px;
    width: 800px;
    display: flex;
    border: 1px solid #56545A;
    /* border-radius: 20px; */
}
#news-block-type1:hover{
    background-color: #cbcace;
    transform: scale(1.1);
}
#news-block-type2:hover{
    background-color: #cbcace;
    transform: scale(1.1);

}
#type1-img{
    width: 40%;
    padding: 10px;
}
#type1-img img{
    height: 182px;
    width: auto;
    border: 1.5px solid black;
}
#type1-content{
    padding: 20px;
    align-items: top;
}
#type1-content h2{
    text-align: left;
}
#type1-content p{
    padding: 7px;
    color: #56545A;
    text-align: left;
}
#news-block-type2{
    height: 273px;
    width: 600px;
    background-color: #d6d6d6;
    display: flex;
}
#type1-content{
    grid-row: 1 / 3;
    /* background: blue; */
}

#type1-content h1{
    padding: 30px;
    justify-items: right;
    text-align: right;
}
#type2-img{
    width: 40%;
    padding: 7px;
}
#type2-img img{
    height: 250px;
    width: 220px;
    border: 1.5px solid black;
    object-fit: cover;
}
#type2-content{
    padding:5px;
}

#product-details{
    text-align: center;
}
#product-details img{
    height: 42.884vw;
    width: auto;
}


#product-line1{
    position: absolute;
    top: 50%;
    left: 18%;
    border: 1px solid #1D1F1E;
    width: 25vw;
    animation: line1 2s;
}
@keyframes line1{
    from{
        top: 50%;
        left: 10%;
    }
    to{
        top: 50%;
        left: 18%;
    }
}
#line1-text{
    position: absolute;
    top: 48.5%;
    left: -1%;
    width: 25vw;
    animation: line1-text 2s;
}
@keyframes line1-text{
    from{
        left: -10%;
    }
    to{
        left: -1%;
    }
}
#product-line2{
    position: absolute;
    top: 50%;
    left: 59%;
    border: 1px solid #1D1F1E;
    width: 15vw;
    animation: line2 2s;
}
@keyframes line2{
    from{
        left:67%;
    }
    to{
        left: 59%
    }
}
#line2-text{
    position: absolute;
    top: 48.5%;
    left: 67%;
    width: 25vw;
    animation: line2-text 2s;
}
@keyframes line2-text{
    from{
        left:78%;
    }
    to{
        left:67%;
    }
}
#product-line3{
    position: absolute;
    top: 90%;
    left: 62.5%;
    border: 1px solid #1D1F1E;
    width: 15vw;
    animation: line3 2s;
}
@keyframes line3{
    from{
        left:67%;
    }
    to{
        left:62.5%;
    }
}
#line3-text{
    position: absolute;
    top: 89%;
    left: 69%;
    width: 25vw;
    animation: line3-text 2s;
}
@keyframes line3-text{
    from{
        left:78%;
    }
    to{
        left:69%;
    }
}

#shopping{
    height: 100%;
    width: 100%;
    padding: 50px;
}
#shopping-data{
    height: 220px;
    width: 100%;
    display: flex;
    border: 2px solid #1D1F1E;
    margin-bottom: 30px;
}
#shopping-img{
    padding: 10px;
}
#shopping-img img{
    height: 200px;
    width: 170px;    
    border: 1px solid #1D1F1E;
    object-fit: cover;
}
#shopping-content{
    padding: 30px;
}
#shopping-content i{
    color: #FFB800;
}
#shopping-content p{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}
#in-progress{
    padding: 80px 30px 30px 50px;
    font-size: 40px;
}
#in-progress span{
    background-color: #FFB800;
}





















@media (max-width: 700px) {
    nav{
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 2rem 3rem;
        width: 100%;
    }
    .nav-left{
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: flex-start;
        position: relative;
    }
    .nav-left img{
        height: 20vw;
        width: auto;
    }
    .nav-left h1 .rotated{
        font-size: 26vw;
        font-family: "Inika";
        font-weight: 500;
        color: #56545A;
        position: absolute;
        transform: rotate(25deg);
        top: -35%;
        left: 60%;
        animation: J 1s;
    }
    @keyframes J{
        from{
            transform: rotate(25deg);
        }
        to{
            transform: rotate(385deg);
        }
    }
    .nav-left h1{
        font-size: 10vw;
        font-family: "Inika";
        font-weight: 100;
        color: #56545A;
        padding-left: 3rem;
    }
    .nav-right{
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem 0rem 0rem 9rem;
    }
    .nav-right a{
        font-size: 1.1rem;
        font-weight: 300;
        text-decoration: none;
        padding: 0.4rem;
        color: #56545A;
    }
    .nav-right .active{
        font-weight: 500;
        color: black;
    }
    .nav-right i{
        font-size: 1.1rem;
        background: #56545A;
        padding: 12px;
        border-radius: 50px;
        color: #ffffff;
    }







    .center{
        height: 100%;
    }
    .center h1{
        font-size: 7vh;
        padding: 0vw 5vh;
        font-weight: 400;
        line-height: 1;
    }
    .center-in{
        width: 100%;
        /* height: 160px; */
        display:flex;
        /* flex-direction: column; */
        padding: 1vh 5vh;
        /* align-items: flex-end; */
        /* justify-content: space-between; */
    }
    .center-in p{
        font-size: 2.2vh;
        color: #56545A;
        padding: 8vw 0vw;
    }
    .center-right{
        position: absolute;
        font-size: 8vw;
        width: 47vw;
        top: 98%;
        left: 50%;
    }
   
    .center-right a{
        font-size: 5.5vw;
        text-align: left;
        text-decoration: none;
        color: #e4dada;
    }
    .center-right .elem:hover{
        background-color: #56545a31;
    }
    .center-right i{
        font-size: 3vw;
        text-align: right;
        text-decoration: none;
        color: #b6b2be;
    }
    .center-right .elem{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.7vh;
        border-top: 2px solid #56545A;
    }
    .bottom{
        position:static;
        height: 30vh;
        width: 100%;
        background: url(https://github.com/DikshantJangra/Jacketo/blob/main/imgs/responsive_index.png?raw=true);
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #67656A;
    }
    .bottom h1{
        display: none;
    }
    .bottom h1 .rotated {
        display: none;
    }
    



    #product-details{
        text-align: center;
    }
    #product-details img{
        height: 65vh;
        width: auto;
    }
    
    
    #product-line1{
        position: absolute;
        top: 60%;
        left: 1%;
        border: 1px solid #1D1F1E;
        width: 22vw;
        animation: line1 2s;
    }
    @keyframes line1{
        from{
            left: -10%;
        }
        to{
            left: 1%;
        }
    }
    #line1-text{
        position: absolute;
        top: 52%;
        left: -1%;
        width: 25vw;
        animation: line1-text 2s;
    }
    @keyframes line1-text{
        from{
            left: -10%;
        }
        to{
            left: -1%;
        }
    }
    #product-line2{
        position: absolute;
        top: 50%;
        left: 59%;
        border: 1px solid #1D1F1E;
        width: 16vw;
        animation: line2 2s;
    }
    @keyframes line2{
        from{
            left:70%;
        }
        to{
            left: 59%
        }
    }
    #line2-text{
        position: absolute;
        top: 48.5%;
        left: 75%;
        width: 25vw;
        animation: line2-text 2s;
    }
    @keyframes line2-text{
        from{
            left:90%;
        }
        to{
            left:75%;
        }
    }
    #product-line3{
        position: absolute;
        top: 90%;
        left: 62.5%;
        border: 1px solid #1D1F1E;
        width: 15vw;
        animation: line3 2s;
        rotate: 90deg;
    }
    @keyframes line3{
        from{
            top:105%;
        }
        to{
            top:90%;
        }
    }
    #line3-text{
        position: absolute;
        top: 94%;
        left: 60%;
        width: 25vw;
        animation: line3-text 2s;
    }
    @keyframes line3-text{
        from{
            top:105%;
        }
        to{
            top:94%;
        }
    }
    
#news{
    height: 100%;
    max-width: 100%;
    /* background: blue; */
    padding-top: 40px;
}
#news-container{
    height: 100%;
    width: 100%;
    /* background: red; */
    display: flex;
    flex-direction: column;
}
#news-line1{
    margin-top: 30px;
    width: 70%;
    border-top: 2px solid #56545A;
}
#news-line2{
    margin: 40px 0px 40px 0px;
    width: 590px;
    border-top: 2px solid #56545A;
    display: none;
}
#news-line1 h1{
    font-size: 50px;
    padding:15px 0px 0px 50px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}
#news-left{
    padding:50px 0px 50px 50px;
}
#news-right{
    padding:50px 0px 50px 50px ;
}
#news-block-type1{
    margin-bottom: 30px;
    background-color: #e2dede;
    height: 500px;
    width: 300px;
    display: flex;
    border: 1px solid #56545A;
    /* border-radius: 20px; */
}
#news-block-type1:hover{
    background-color: #cbcace;
    transform: scale(1.1);
}
#news-block-type2:hover{
    background-color: #cbcace;
    transform: scale(1.1);
}
#type1-img{
    width: 40%;
    padding: 10px;
    display: none;
}
#type1-img img{
    height: 182px;
    width: auto;
    border: 1.5px solid black;
}
#type1-content{
    padding: 20px;
    align-items: top;
}
#type1-content h2{
    text-align: left;
}
#type1-content p{
    padding: 7px;
    color: #56545A;
    text-align: left;
}
#news-block-type2{
    height: 400px;
    width: 300px;
    background-color: #d6d6d6;
    display: flex;
    border: 1.5px solid black;
    margin: 10px;
}
#type1-content{
    grid-row: 1 / 3;
    /* background: blue; */
}

#type1-content h1{
    padding: 30px;
    justify-items: right;
    text-align: right;
}
#type2-img{
    width: 40%;
    padding: 7px;
    display: none;
}
#type2-img img{
    height: 250px;
    width: 220px;
    border: 1.5px solid black;
    object-fit: cover;
}
#type2-content{
    padding:5px;
}

#shopping{
    height: 100%;
    width: 100%;
    padding: 50px;
    margin-top: 30px;
}
#shopping-data{
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #1D1F1E;
    margin-bottom: 30px;
}
#shopping-img{
    padding: 10px;
}
#shopping-img img{
    height: 200px;
    width: auto;    
    border: 1px solid #1D1F1E;
    object-fit: cover;
}
#shopping-content{
    padding: 30px;
}
#shopping-content i{
    color: #FFB800;
}
#shopping-content p{
    font-size: 20px;
    font-weight: 500;
    padding-top: 10px;
}
}
